fastapi
uvicorn[standard]==0.29.0
langgraph
langchain-groq
pydantic
requests
python-dotenv
crewai 
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
chromadb
pandas
aiofiles